.testomonial--img1{
    aspect-ratio: 23/9;
    width: 100%;
}

.testomonial--sec1--div3{
    display: flex;
    justify-content: center;
    
}

.testomonial--sec1--div4{
    padding: 2rem 0rem;
    width: 90%;
    height: max-content;
    background-color: var(--colorCard);
    display: flex;
    justify-content: center;
}

.testomonial--sec1--div5{
    padding: 2rem 0rem;
    width: 90%;
    height: max-content;
    /* background-color: #1100ff; */
    display: flex;
    flex-direction: row;
    gap: 2%;
    /* z-index: 10; */
    margin-top: -10rem;
    /* position: absolute;
    top: 40rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap
}

.testomonial--sec1--div6{
    width: 100%;
    /* background-color: #ffff; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.testomonial--sec1--div11{
    width: 100%;
    /* background-color: #ffff; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.testomonial--sec1--div7{
    width: 100%;
    display: flex;
    /* margin-left: -60rem; */
    /* background-color: #00ff55; */
}

.testomonial--sec1--div11{
    width: 10rem;
    display: flex;
    justify-content: left;
    align-self: flex-start;
    /* margin-left: -60rem; */
    /* background-color: #00ff55; */
}

.testomonial--img2{
    width: 5rem;
    border-radius: 50%;
    stroke: #ffff;
    /* position: absolute; */
    /* top: 13rem;
    left: -1rem; */
    margin-top: -5rem;
}

.testomonial--img3{
    width: 8.5rem;
    border-radius: 50%;
    stroke: #ffff;
    /* position: absolute; */
    /* top: 13rem;
    left: 54rem; */
}



.testomonial--sec1--div8{
    width: 90%;
    padding: 2rem 2rem;
    background-color: #ffff;
    text-align: right;
}

.testomonial--sec1--div9{
    /* width: 90%; */
    text-align: center;
    /* padding: 2rem 2rem; */
    /* background-color: #ffff; */
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
}

/* .home--sec4--text{
    text-align: right;
    margin-top: 3rem;
}

.home--sec4--text2{
    text-align: right;
} */

.testomonial--sec1--div10{
    width: 11rem;
    margin-top: -8rem;
}

.qotation--img--tes{
    width: 1rem;
    /* position: absolute; */
    /* top: 2.5rem; */
    /* z-index: -1; */
    /* left: 2rem; */
    opacity: calc(50%);
}

.qotation--img--tes1{
    width: 4rem;
    /* position: absolute; */
    /* top: 2.5rem; */
    /* z-index: -1; */
    /* left: 57rem; */
    opacity: calc(50%);
}


@media screen and (max-width:390px){
    
    .testomonial--sec1--div10{
        width: 15rem;
        margin-top: -14rem;
    }

}

@media screen  and (min-width: 391px) and (max-width:567px){
    
    .testomonial--sec1--div10{
        width: 15rem;
        margin-top: -11rem;
    }

}

@media screen and (min-width: 566px)  and (max-width:500px){
    
    .testomonial--sec1--div10{
        width: 15rem;
        margin-top: -9rem;
    }

}

@media screen and (min-width: 713px) and (max-width:750px){
    
    .testomonial--sec1--div10{
        /* width: 15rem; */
        margin-top: -6rem;
    }

}

@media screen and (min-width: 751px) and (max-width:794px){
    
    .testomonial--sec1--div10{
        width: 15rem;
        margin-top: -12rem;
    }

}

@media screen and (min-width: 795px) and (max-width:921px){
    
    .testomonial--sec1--div10{
        width: 15rem;
        margin-top: -10rem;
    }

}

