@font-face {
    font-family: "InstrumentSans_regular";
    src: url(../resources/fonts/InstrumentSans-Regular.ttf);
}

@font-face {
    font-family: "InstrumentSans_bold";
    src: url(../resources/fonts/InstrumentSans-Bold.ttf);
}

@font-face {
    font-family: "InstrumentSans_semiBold";
    src: url(../resources/fonts/InstrumentSans-SemiBold.ttf);
}

@font-face {
    font-family: "inter_regular";
    src: url(../resources/fonts/Inter_18pt-Regular.ttf);
}

@font-face {
    font-family: "inter_bold";
    src: url(../resources/fonts/Inter_18pt-Bold.ttf);
}

@font-face {
    font-family: "inter_semiBold";
    src: url(../resources/fonts/Inter_18pt-SemiBold.ttf);
}

@font-face {
    font-family: "inter_extraBold";
    src: url(../resources/fonts/Inter_18pt-ExtraBold.ttf);
}

@font-face {
    font-family: "urbanist_regular";
    src: url(../resources/fonts/Urbanist-Regular.ttf);
}

@font-face {
    font-family: "urbanist_bold";
    src: url(../resources/fonts/Urbanist-Bold.ttf);
}

@font-face {
    font-family: "urbanist_semiBold";
    src: url(../resources/fonts/Urbanist-SemiBold.ttf);
}

@font-face {
    font-family: "urbanist_extraBold";
    src: url(../resources/fonts/Urbanist-ExtraBold.ttf);
}

:root {
    --colorBackground: #80B531;
    --colorCard: #ECF4E0;
    --colorsubHeading: #FF790F;
    --colortagLine: #0F9814;
    --colorTxt: #2D3F11;
    --colorSecondaryTxt: #F2F8EA;
    --colorBorder: #D8E8BF;
    --colorFooter: #2D3F11;
}

body {
    margin: 0;
    padding: 0;
}

.home--sec4--div1 {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home--sec4--div3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1.2rem;
}

.home--sec4--span1 {
    color: var(--colorsubHeading);
    text-transform: uppercase;
    font-family: "inter_bold";
    font-size: 0.6rem;
}

.home--sec4--span2 {
    color: var(--colorTxt);
    font-family: "urbanist_regular";
    padding: 0.3rem 0rem;
    font-size: 1.2rem;
}

.home--sec4--span3 {
    font-family: "urbanist_extraBold";
}

.home--sec4--div4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

}


.home--sec4--div5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    /* height: 10rem; */
    box-sizing: border-box;

}

.home--sec4--img1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;

}



.home--sec4--div6 { 
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    z-index: 1;
  

}

.home--sec4--div7{
    display: flex;
    position:absolute;
    z-index: 1;
    /* margin-top: 3rem; */


}

.home--sec4--img2 {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    margin:auto;
    display: block;
    width: 70%;
    /* height: 22px; */
    border-radius: 50%;
    /* background: #cca92c; */
    cursor: pointer;
    box-shadow: 0 0 0 rgba(71, 11, 3, 0.4);
    animation: home--sec4--img2 2s infinite;
  }
  .home--sec4--img2:hover {
    animation: none;
  }
  
  @-webkit-keyframes home--sec4--img2 {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(94, 11, 11, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(109, 23, 12, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(73, 5, 5, 0);
    }
  }
  @keyframes home--sec4--img2 {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(179, 12, 12, 0.4);
      box-shadow: 0 0 0 0 rgba(121, 9, 5, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(105, 8, 8, 0);
        box-shadow: 0 0 0 10px rgba(65, 2, 2, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(163, 23, 23, 0);
        box-shadow: 0 0 0 0 rgba(119, 2, 2, 0);
    }
  }



  .home--sec4--div8{
    width: 86%;
    background-color: #ECF4E0;
    height: fit-content;
   

  }





/* #testimonial_area {
	padding: 10% 0;
} */
.box-area {

    display: flex;
    justify-content: center;
    align-items: ;
    flex-direction: row;
    width: 80%;
	padding: 20px;
	position: relative;
	display: block;
	background: #fff;
	color: #000;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	margin: 40px 0;
}
.box-area h5 {
	font-size: 16px;
	font-weight: 700;
	color: #0a69ed;
	margin-top: 30px;
	margin-bottom: 5px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.box-area span {
	color: #262626;
	display: block;
	font-size: 13px;
	margin: 0 0 10px;
	font-weight: 400;
}
.box-area .content {
	color: #262626;
}
.box-area .img-area {
	width: 90px;
	height: 90px;
	position: absolute;
	top: -40px;
	left: 0;
	bottom: 0;
	margin: 0 auto;
	right: 0;
	z-index: 1;
	border: 5px solid #fff;
	border-radius: 50%;
	box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}
.box-area .img-area img {
	width: 100%;
	height: auto;
	border-radius: 50%;
}
.socials {
	margin-top: 30px;
}
.socials i {
	margin: 0 10px;
	color: #0a69ed;
	font-size: 18px;
}
#testimonial_area .owl-nav {
	position: absolute;
	top: 50%;
	width: 100%;
}
#testimonial_area .owl-prev, #testimonial_area .owl-next {
	width: 40px;
	height: 40px;
	line-height: 40px;
	color: #0a69ed;
	border-radius: 50%;
	text-align: center;
	background: #fff;
	position: absolute;
}
#testimonial_area .owl-prev {
	left: -60px;
	top: -30px;
}
#testimonial_area .owl-next {
	right: -60px;
	top: -30px;
}
@media only screen and (max-width: 991px) {
	.owl-nav {
		display: none;
	}
}
@media only screen and (max-width: 767px) {
	.box-area {
		text-align: center;
	}
	.owl-nav {
		display: none;
	}
}
