@font-face {
  font-family: "InstrumentSans_regular";
  src: url(../resources/fonts/InstrumentSans-Regular.ttf);
}

@font-face {
  font-family: "InstrumentSans_bold";
  src: url(../resources/fonts/InstrumentSans-Bold.ttf);
}

@font-face {
  font-family: "InstrumentSans_semiBold";
  src: url(../resources/fonts/InstrumentSans-SemiBold.ttf);
}

@font-face {
  font-family: "inter_regular";
  src: url(../resources/fonts/Inter_18pt-Regular.ttf);
}

@font-face {
  font-family: "inter_bold";
  src: url(../resources/fonts/Inter_18pt-Bold.ttf);
}

@font-face {
  font-family: "inter_semiBold";
  src: url(../resources/fonts/Inter_18pt-SemiBold.ttf);
}

@font-face {
  font-family: "inter_extraBold";
  src: url(../resources/fonts/Inter_18pt-ExtraBold.ttf);
}

@font-face {
  font-family: "urbanist_regular";
  src: url(../resources/fonts/Urbanist-Regular.ttf);
}

@font-face {
  font-family: "urbanist_bold";
  src: url(../resources/fonts/Urbanist-Bold.ttf);
}

@font-face {
  font-family: "urbanist_semiBold";
  src: url(../resources/fonts/Urbanist-SemiBold.ttf);
}

@font-face {
  font-family: "urbanist_extraBold";
  src: url(../resources/fonts/Urbanist-ExtraBold.ttf);
}

:root {
  --colorBackground: #80B531;
  --colorCard: #ECF4E0;
  --colorsubHeading: #FF790F;
  --colortagLine: #0F9814;
  --colorTxt: #2D3F11;
  --colorSecondaryTxt: #F2F8EA;
  --colorBorder: #D8E8BF;
  --colorFooter: #2D3F11;
}

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
}
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  /* box-shadow: 0 3px 6px rgba(0,0,0,0.23); */
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
  left: -22px;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 1rem;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .services--slider--img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  /* height: 342px; */
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 1rem;
}
.carousel .card .services--slider--img {
  /* background: #8B53FF; */
  /* height: 1.5rem; */
  width: 1.5rem;
  /* border-radius: 50%; */
}
.card .services--slider--img {
  width: 5rem;
  /* height: 140px; */
  /* border-radius: 50%; */
  object-fit: cover;
  border: 4px solid #fff;
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
/* .carousel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
} */

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}




.home--sec3--div1{
  display: flex;
  background-image: url("../resources/img/home/services.png");
  flex-direction: column;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: calc(60%); */
  padding: 3rem 0;
  justify-content: center;
  align-items: center;
}

.home--sec3--div2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.home--sec3--span1{
  color: var(--colorsubHeading);
  text-transform: uppercase;
  font-family: "inter_bold";
  font-size: 0.6rem;
}

.home--sec3--span2{
  color: var(--colorTxt);
  font-family: "urbanist_regular";
  padding: 0.3rem 0rem;
  font-size: 1.2rem;
}

.home--sec3--span3{
  font-family: "urbanist_extraBold";
}

.home--sec3--div3{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
  width: 90%;
}

.home--sec3--div4{
  width: 18%;
  padding: 1rem;
  background-color: white;
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.home--sec3--div5{
  width: 90%;
  display: flex;
  justify-content: center;
  /* padding: 1rem 0; */
  /* background-color: red; */
}

.home--sec3--div6{
  width: 90%;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.home--sec3--span4{
  color: var(--colorTxt);
  font-family: "urbanist_extraBold";
  text-align: center;
}

.home--sec3--div7{
  width: 95%;
  display: flex;
  justify-content: center;
  /* padding: 1rem 0; */
}

.home--sec3--span5{
  color: var(--colorTxt);
  font-family: "urbanist_regular";
  text-align: center;
}

.home--sec3--div8{
  width: 90%;
  display: flex;
  justify-content: center;
  padding: 1.5rem 0;
  flex-direction: row;
}

.home--sec3--div9{
  background-color: var(--colorCard);
  padding: 0.6rem 0.7rem;
  display: flex;
  align-self: center;
}

.home--sec3--span6{
  color: var(--colorTxt);
  font-family: "urbanist_bold";
  text-align: center;
}

.home--sec3--div10{
  background-color: var(--colorTxt);
  padding: 0.3rem 0.7rem;
}

.home--sec3--img1{
  width: 1.5rem;
}


@media screen and (min-width:1400px) {

  .home--sec3 {
      justify-content: center;
  }

  .home--sec3--div1 {
      width: 128vh;
  }

  .home--sec3--divExtra{
    width: 128vh;
}

}


@media screen and (min-width:1500px) {

  .home--sec3--div1 {
      width: 135vh;
  }

  .home--sec3--divExtra{
    width: 135vh;
}

}