@font-face {
    font-family: "InstrumentSans_regular";
    src: url(../resources/fonts/InstrumentSans-Regular.ttf);
}

@font-face {
    font-family: "InstrumentSans_bold";
    src: url(../resources/fonts/InstrumentSans-Bold.ttf);
}

@font-face {
    font-family: "InstrumentSans_semiBold";
    src: url(../resources/fonts/InstrumentSans-SemiBold.ttf);
}

@font-face {
    font-family: "inter_regular";
    src: url(../resources/fonts/Inter_18pt-Regular.ttf);
}

@font-face {
    font-family: "inter_bold";
    src: url(../resources/fonts/Inter_18pt-Bold.ttf);
}

@font-face {
    font-family: "inter_semiBold";
    src: url(../resources/fonts/Inter_18pt-SemiBold.ttf);
}

@font-face {
    font-family: "inter_extraBold";
    src: url(../resources/fonts/Inter_18pt-ExtraBold.ttf);
}

@font-face {
    font-family: "urbanist_regular";
    src: url(../resources/fonts/Urbanist-Regular.ttf);
}

@font-face {
    font-family: "urbanist_bold";
    src: url(../resources/fonts/Urbanist-Bold.ttf);
}

@font-face {
    font-family: "urbanist_semiBold";
    src: url(../resources/fonts/Urbanist-SemiBold.ttf);
}

@font-face {
    font-family: "urbanist_extraBold";
    src: url(../resources/fonts/Urbanist-ExtraBold.ttf);
}

:root {
    --colorBackground: #80B531;
    --colorCard: #ECF4E0;
    --colorsubHeading: #FF790F;
    --colortagLine: #0F9814;
    --colorTxt: #2D3F11;
    --colorSecondaryTxt: #F2F8EA;
    --colorBorder: #D8E8BF;
    --colorFooter: #2D3F11;
}

body {
    margin: 0;
    padding: 0;
}

.home--sec4{
    display: flex;
    width: 100%;
    /* background-color: var(--colorCard); */
    margin-top: 2.5rem;
    height: max-content;
    justify-content: center;
    align-items: center;
}

.home--sec4--div1{
    display: flex;
    /* background-image: url("../resources/img/home/services.png"); */
    flex-direction: column;
    width: 90%;
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: calc(60%); */
    padding: 3rem 0;
}

.home--sec4--div2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.testomonial--sec1--div12{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 20rem; */
    /* position: relative; */
    /* background-color: green; */
    margin-top: 3rem;
}

.testomonial--sec1--div1{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../resources/img/home/Testimonials.jpg);
    aspect-ratio: 23/9;
}

.testomonial--sec1--div2{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    text-align: center;
    /* background-color: red; */
    flex-direction: column;
    aspect-ratio: 23/9;
}

/* .testomonial--img1{
    aspect-ratio: 23/9;
    width: 100%;
} */

.pulse{
    display: flex;
    justify-content: center;
    align-self: center;
}

.testomonial--sec1--div3{
    display: flex;
    justify-content: center;
}

.testomonial--sec1--div4{
    /* padding: 2rem 0rem; */
    width: 90%;
    max-width: 90%;
    height: max-content;
    background-color: var(--colorCard);
    display: flex;
    justify-content: center;
}

.testomonial--sec1--div5{
    padding: 2rem 0rem;
    width: 100%;
    max-width: 60rem;
    height: max-content;
    /* background-color: #1100ff; */
    display: flex;
    flex-direction: row;
    gap: 2%;
    /* z-index: 10; */
    margin-top: -7rem;
    /* position: absolute;
    top: 40rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.testomonial--sec1--div6{
    width: 100%;
    /* background-color: #ff0000; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

.testomonial--sec1--div11{
    width: 100%;
    /* background-color: #ffff; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-left: -2rem;
}

.testomonial--sec1--div7{
    width: 100%;
    display: flex;
    /* margin-left: -60rem; */
    /* background-color: #00ff55; */
}

.testomonial--sec1--div11{
    width: 10rem;
    display: flex;
    justify-content: left;
    align-self: flex-start;
    /* margin-left: -60rem; */
    /* background-color: #00ff55; */
}

.testomonial--img2{
    width: 5rem;
    border-radius: 50%;
    stroke: #ffff;
    /* position: absolute; */
    /* top: 13rem;
    left: -1rem; */
    margin-top: -5rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.testomonial--img3{
    width: 8.5rem;
    border-radius: 50%;
    stroke: #ffff;
    /* position: absolute; */
    /* top: 13rem;
    left: 54rem; */
}

.feed--content{
    font-family: "inter_regular";
    color: var(--colorTxt);
}

.testomonial--sec1--div8{
    width: 90%;
    padding: 2rem 2rem;
    background-color: #ffff;
    text-align: right;
}

.testomonial--sec1--div9{
    /* width: 90%; */
    text-align: center;
    /* padding: 2rem 2rem; */
    /* background-color: #ffff; */
    display: flex;
    /* justify-content: center; */
    flex-direction: row;
    /* align-items: center; */
    margin-bottom: 2rem;
}

.home--sec4--text{
    color: var(--colorTxt);
}

.home--sec4--text2{
    color: var(--colortagLine);
}

.testomonial--sec1--div10{
    width: 11rem;
    margin-top: -1rem;
    /* background-color: red; */
    display: flex;
    justify-content: left;
    align-items: flex-start;
}

.qotation--img--tes{
    width: 3rem;
    /* position: absolute; */
    /* top: 2.5rem; */
    /* z-index: -1; */
    /* left: 2rem; */
    opacity: calc(30%);
}


@media screen and (max-width:390px){
    
    .testomonial--sec1--div10{
        width: 15rem;
        /* margin-top: -20rem; */
    }

}

@media screen  and (min-width: 391px) and (max-width:567px){
    
    .testomonial--sec1--div10{
        width: 15rem;
        /* margin-top: -11rem; */
    }

}

@media screen and (min-width: 566px)  and (max-width:500px){
    
    .testomonial--sec1--div10{
        width: 15rem;
        /* margin-top: -9rem; */
    }

}

@media screen and (min-width: 751px) and (max-width:794px){
    
    .testomonial--sec1--div10{
        width: 15rem;
        /* margin-top: -12rem; */
    }

}

@media screen and (min-width: 795px) and (max-width:921px){
    
    .testomonial--sec1--div10{
        width: 15rem;
        /* margin-top: -10rem; */
    }

}

@media screen and (max-width: 379px) {
    .testomonial--sec1--div5 {
        max-width: 20rem;
     }
     .testomonial--sec1--div6 {
        width: 65%; 
    }
}

@media screen and (min-width: 380px) and (max-width: 429px) {
    .testomonial--sec1--div5 {
        max-width: 23rem;
     }
     .testomonial--sec1--div6 {
        width: 65%; 
    }
}

@media screen and (min-width: 430px) and (max-width: 479px) {
    .testomonial--sec1--div5 {
        max-width: 25rem;
     }
     .testomonial--sec1--div6 {
        width: 65%; 
    }
}

@media screen and (min-width: 480px) and (max-width: 549px) {
    .testomonial--sec1--div5 {
        max-width: 28rem;
     }
     .testomonial--sec1--div6 {
         width: 65%; 
     }
}

@media screen and (min-width: 550px)  and (max-width: 599px) {
    .testomonial--sec1--div5 {
        max-width: 32rem;
     }
     .testomonial--sec1--div6 {
         width: 68%; 
     }
}

@media screen and (min-width: 600px) and (max-width: 679px) {
    .testomonial--sec1--div5 {
        max-width: 36rem;
     }
     .testomonial--sec1--div6 {
         width: 70%; 
     }
}

@media (max-width: 650px) {
    .testomonial--sec1--div1{
        aspect-ratio: 16/9;
    }
    
    .testomonial--sec1--div2{
        aspect-ratio: 16/9;
    }
}

@media screen and (min-width: 680px) and (max-width: 749px) {
    .testomonial--sec1--div5 {
       max-width: 40rem;
    }
    .testomonial--sec1--div6 {
        width: 80%; 
    }

}

@media (min-width: 751px) {
    .testomonial--sec1--div5 {
        gap: 0%;
     }
    .testomonial--sec1--div6 {
        width: 70%; 
    }
}

@media (max-width: 750px) {
    .testomonial--sec1--div5 {
        margin-top: -4rem;
     }
}

@media screen and (min-width: 750px) and (max-width: 849px) {
    .testomonial--sec1--div6 {
        width: 68%; /* Cards take 48% of the width on medium screens */
    }
    .testomonial--sec1--div5 {
       max-width: 46rem;
    }
}

@media screen and (min-width: 850px) and (max-width: 899px) {
    .testomonial--sec1--div5 {
       max-width: 50rem;
    }
}

@media screen and (min-width: 900px) and (max-width: 999px) {
    .testomonial--sec1--div5 {
       max-width: 55rem;
    }
}

@media (min-width: 1025px) {
    .testomonial--sec1--div5 {
       gap: 0%;
    }

    .testomonial--sec1--div6 {
        width: 75%; /* Cards take 30% of the width on large screens */
    }
}

.testomonial--sec1--div6:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
}












.wrapper1 .carousel1{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100%) - 9px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    /* gap: 16px; */
    /* border-radius: 8px; */
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  .carousel1::-webkit-scrollbar {
    display: none;
  }
  .carousel1.no-transition {
    scroll-behavior: auto;
  }
  .carousel1.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carousel1.dragging .card1 {
    cursor: grab;
    user-select: none;
  }
  .carousel1 :where(.card1) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel1 .card1 {
    scroll-snap-align: start;
    /* height: 342px; */
    list-style: none;
    /* background: #fff; */
    cursor: pointer;
    /* padding-bottom: 15px; */
    flex-direction: column;
    /* border-radius: 8px; */
  }


  @media screen and (min-width: 750px) {
    .wrapper1 .carousel1 {
      grid-auto-columns: calc((100% /2) - 12px);
    }
  }










  .pulse{
    height: max-content;
    width: max-content;
    background: #ff0000;
    /* position: absolute; */
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 50%;
    display: grid;
    place-items: center;
    /* font-size: 50px; */
    color: #ffffff;
    /* z-index: 10; */
    transition: transform 0.3s ease-in-out;
}
.pulse:before,
.pulse:after{
    content: "";
    position: absolute;
    height: 5rem;
    width: 5rem;
    background-color: #ff0000;
    border-radius: 50%;
    /* z-index: -1; */
    opacity: 0.7;
}
.pulse:before{
    animation: pulse 2s ease-out infinite;
}
.pulse:after{
    animation: pulse 2s 1s ease-out infinite;
}
@keyframes pulse{
    100%{
        transform: scale(2.5);
        opacity: 0;
    }
}

.testomonial--img1_1{
    z-index: 1;
    width: 5rem;
}

.pulse:hover{
    cursor: pointer;
    filter: brightness(0.9);
}